<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LeeMinHo1/src/TimeAndSpace/mergingArrays.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="TimeAndSpace.mergingArrays"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LeeMinHo1"/>
</launchConfiguration>
